.card {
    position: relative;
    /* width: 450px; */
    height: 450px;
    background-color: rgba(252, 252, 252, 0.83);
    border-radius: 30px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* .card:hover {
    height: 450px;
    width: 450px;
} */

/* .card:hover .imgBx {
    height: 200px;
    width: 200px;
} */

.imgBx {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgb(255, 255, 255);
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    /* transition: 0.5s; */
    /* transform: translateY(200px); */
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2em;
}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .actionBtn button {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    border:rgba(0, 0, 0, 0.35);
}
