/************ Custom Font ************/
@font-face {
    font-family: Centra;
    src: url("./assets/font/CentraNo2-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Centra;
    src: url("./assets/font/CentraNo2-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Centra;
    src: url("./assets/font/CentraNo2-Book.ttf");
    font-weight: 400;
}

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #ffffff !important;
    color: #fff !important;
    font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

@media (min-width: 1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

p.success {
    color: green;
}

p.danger {
    color: red;
}
/************ Navbar Css ************/
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #e4fafb;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #090909 !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #020202;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
        hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
    font-weight: 700;
    color: #020202;
    border: 1px solid #0a0a0a;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.navbar-text button span {
    z-index: 1;
}
.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #030303;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
    color: #121212;
}
.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: "";
    z-index: 2;
    transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
    top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: #fff;
    height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url("./assets/img/bg2.jpeg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(
        90.21deg,
        rgba(170, 54, 124, 0.5) -5.91%,
        rgba(74, 47, 189, 0.5) 111.58%
    );
    border: 1px solid rgba(20, 20, 20, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}
.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
.banner p {
    color: #0e0e0e;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}
.banner button {
    color: #040404;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
}
.banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.banner button:hover svg {
    margin-left: 25px;
}
.banner img {
    animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
    border-right: 0.08em solid #000000;
}

/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
}
.skill-bx {
    background: #def0f3;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}
.skill h2 {
    font-size: 45px;
    font-weight: 700;
}
.skill p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.skill-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}
.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}

/* profile */
.profile {
    margin-top: 150px;
}

/************ profileInfo Css ************/
.contact {
    padding: 60px 0 200px 0;
}
.contact img {
    width: 60%;
}
.contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #030303;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
}
.contact form input:focus,
.contact form textarea:focus {
    background: rgb(15, 15, 15);
    color: #d2cdcd;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: #b6b2b2;
    opacity: 0.8;
}
.contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    /* transition: 0.3s ease-in-out; */
}
.contact form button span {
    z-index: 1;
    position: relative;
}
.contact form button:hover {
    color: #fff;
}
.contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* transition: 0.3s ease-in-out; */
}
.contact form button:hover::before {
    width: 100%;
}

/************ login Css ************/
.login2 {
    margin-top: 200px;
}
.contact2 {
    padding: 60px 0 60px 0;
}
.contact2 img {
    width: 60%;
}
.contact2 h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.contact2 form input,
.contact2 form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #030303;
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
}
.contact2 form input:focus,
.contact2 form textarea:focus {
    background: rgb(15, 15, 15);
    color: #d2cdcd;
}
.contact2 form input::placeholder,
.contact2 form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.contact2 form input:focus::placeholder,
.contact2 form textarea:focus::placeholder {
    color: #b6b2b2;
    opacity: 0.8;
}
.contact2 form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
}
.contact2 form button span {
    z-index: 1;
    position: relative;
}
.contact2 form button:hover {
    color: #fff;
}
.contact2 form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.contact2 form button:hover::before {
    width: 100%;
}

.box {
    padding: 0 0 50px 0;
    position: relative;
    width: 750px;
    margin: 0 auto;
}
.box-bx {
    background: #def0f3;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}
.box h2 {
    font-size: 45px;
    font-weight: 700;
}
.box p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
